<div class="flex flex-col mx-auto items-center">
	<h3 class="font-semibold text-2xl text-center">Trip Summary</h3>
	<div name="summary-box" class="flex flex-wrap justify-center gap-6 py-8 w-2/3 mx-auto bg-white shadow-lg my-auto">
		<div class="font-semibold text-center inline-block p-4 min-w-40">
			<p class="mb-1 border-2 border-dashed border-indigo-500 rounded text-xl p-4">Newark</p>
		</div>
		<div class="text-center place-self-center">
			<%= image_tag "plane.png", class: "h-8 w-auto rotate-45 mx-auto mb-2" %>
			<span class="text-sm text-gray-500">Feb 1</span>
		</div>
		<div class="font-semibold text-center min-w-40 bg-clip-padding bg-indigo-400 p-4 rounded">
			<p class="mb-1 text-xl">Barcelona</p>
			<span class="itext-sm text-gray-500">Feb 2 to</span> <span class="text-sm text-gray-500">Feb 4</span>
		</div>
		<div class="text-center place-self-center">
			<%= image_tag "train.png", class: "h-8 w-auto mx-auto" %>
			<span class="text-sm text-gray-500">Feb 4</span>
		</div>
		<div class="text-center inline-block p-4 min-w-40">
			<p class="mb-1 border-2 border-dashed border-indigo-500 rounded text-xl p-4">Madrid</p>
			<span class="text-sm text-gray-500">Feb 4 to</span> <span class="text-sm text-gray-500">Feb 5</span>
		</div>
		<div class="text-center place-self-center">
			<%= image_tag "car.png", class: "h-8 w-auto mx-auto" %>
			<span class="italic text-sm font-semibold">Feb 5</span>
		</div>
		<div class="font-semibold text-center inline-block p-4 min-w-40">
			<p class="mb-1 border-2 border-dashed border-indigo-500 rounded text-xl p-4">Sevilla</p>
			<span class="italic text-xs font-semibold">Feb 5 to</span> <span class="italic text-xs font-semibold">Feb 8</span>
		</div>
		<div class="text-center place-self-center">
			<%= image_tag "train.png", class: "h-8 w-auto mx-auto" %>
			<span class="italic text-sm font-semibold">Feb 8</span>
		</div>
		<div class="font-semibold text-center inline-block p-4 min-w-40">
			<p class="mb-1 border-2 border-dashed border-indigo-500 rounded text-xl p-4">Madrid</p>
			<span class="italic text-xs font-semibold">Feb 8 to</span> <span class="italic text-xs font-semibold">Feb 9</span>
		</div>
		<div class="text-center place-self-center">
			<%= image_tag "plane.png", class: "h-8 w-auto rotate-45 mx-auto mb-2" %>
			<span class="italic text-sm font-semibold">Feb 9</span>
		</div>
		<div class="font-semibold text-center inline-block p-4 min-w-40">
			<p class="mb-1 border-2 border-dashed border-indigo-500 rounded text-xl p-4">Lisbon</p>
			<span class="italic text-xs font-semibold">Feb 9 to</span> <span class="italic text-xs font-semibold">Feb 13</span>
		</div>
		<div class="text-center place-self-center">
			<%= image_tag "plane.png", class: "h-8 w-auto rotate-45 mx-auto mb-2" %>
			<span class="italic text-sm font-semibold">Feb 13</span>
		</div>
		<div class="font-semibold text-center inline-block p-4 min-w-40">
			<p class="mb-1 border-2 border-dashed border-indigo-500 rounded text-xl p-4">Newark</p>
		</div>
	</div>
</div>