<%= turbo_stream_from @trip %>

<% if Current.user.active_trip.on_trial? %>
	<div class="mt-[-16px] mb-2 block bg-neutral-100 text-xs sm:text-sm font-light p-1 text-center">
		Your free trial ends on <%= human_date(@trip.trial.end_date) %>. <%= link_to "Buy your RunwayHorse trip today", checkout_path(trial_trip: @trip), class: "text-blue-500 font-semibold underline" %>. If you have any questions, <%= mail_to "hello@runwayhorse.com", "email us", class:"text-blue-500 font-semibold underline" %>.
	</div>
<% end %>

<% if @trip.stripe_order_id || @trip.on_trial? %>
	<div class="px-2 sm:max-w-screen-lg h-full mx-auto text-center overflow">
		<div id="trip-header" class="w-full text-center">
			<%= turbo_frame_tag "edit_trip_name", class: "contents" do %>
				<%= link_to @trip.name, edit_trip_path(@trip), class: "font-semibold text-xl sm:text-2xl hover:bg-gray-200 p-2 rounded-lg" %>
			<% end %>
		
			<div class="mt-1">
				<%= turbo_frame_tag "edit_trip_start", class: "contents" do %>
					<%= link_to human_date(@trip.start_date), edit_trip_path(@trip), class: "text-teal-700 hover:bg-gray-200 p-1 rounded-lg", data: { turbo_method: :get, turbo_confirm: "You might lose work if you shorten trip dates. Do you want to continue?" }  %>
				<% end %>
				—
				<%= turbo_frame_tag "edit_trip_end", class: "contents" do %>
					<%= link_to human_date(@trip.end_date), edit_trip_path(@trip), class: "text-teal-700 hover:bg-gray-200 p-1 rounded-lg", data: { turbo_method: :get, turbo_confirm: "You might lose work if you shorten trip dates. Do you want to continue?" }  %>
				<% end %>
			</div>
			
			<div id="share" class="mt-3">
				<%= turbo_frame_tag "share" do %>
					<%= link_to "Share a link for viewing", new_trip_share_path(@trip), class: "text-sm font-medium text-blue-500 underline" %>
				<% end %>
			</div>
	  </div>
		
		<div class="flex flex-col justify-around mt-8 overflow-scroll">
			<div id="trip-actions" class="flex flex-wrap items-center justify-evenly w-full gap-x-4 gap-y-4 font-medium">
				<%= link_to trip_transportations_path(@trip), class: "text-center w-36 sm:w-52 h-40 sm:h-48 divide-y rounded-xl bg-slate-100 py-2" do %>
					<p>Transportation</p>
					<div>
						<%= image_tag "truck.svg", class: "h-8 sm:h-12 w-auto mx-auto my-2" %>
						<p class="text-gray-500 font-light text-xs sm:text-sm px-2">All your flights, trains, and drives. See where you're going and how you're getting there.</p>
					</div>
				<% end %>
				<%= link_to trip_lodgings_path(@trip), class: "text-center w-36 sm:w-52 h-40 sm:h-48 divide-y rounded-xl bg-slate-100 py-2" do %>
					<p>Lodging</p>
					<div>
						<%= image_tag "home.svg", class: "h-8 sm:h-12 w-auto mx-auto my-2" %>
						<p class="text-gray-500 font-light text-xs sm:text-sm px-2">All your hotels and Airbnbs. Add check-in info, links, and addresses.</p>
					</div>
				<% end %>
				<%= link_to trip_day_path(@trip, @trip.days.first), class: "text-center w-36 sm:w-52 h-40 sm:h-48 divide-y rounded-xl bg-slate-100 py-2" do %>
					<p>Days</p>
					<div>
						<%= image_tag "calendar.svg", class: "h-8 sm:h-12 w-auto mx-auto my-2" %>
						<p class="text-gray-500 font-light text-xs sm:text-sm px-2">The plan for each day. Add bookings, restaurants, trip todos, and notes.</p>
					</div>
				<% end %>
		  </div>
	
			<%= turbo_frame_tag "summary", class: "contents", src: trip_summaries_path(@trip) do %>
				<%= image_tag "spinner.gif", class: "h-6 w-auto mx-auto mt-8" %>
			<% end %>
		</div>
	</div>
<% else %>
	<%= render "expired_trial", trip: @trip %>
<% end %>
