<div id="<%= dom_id trip %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Mode:</strong>
    <%= transportation.mode %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= transportation.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= transportation.time %>
  </p>
	
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= transportation.notes %>
  </p>
	
</div>
