<nav class="relative flex items-center justify-center p-4 bg-amber-100 min-h-14" data-controller="navbar">
	<%= link_to "/", class: "absolute left-5" do %>
		<div class="flex items-center gap-2">
			<%= image_tag "logo.svg", class: "h-7 sm:h-10 w-auto"%>
			<span class="font-bold text-xl hidden lg:inline">RunwayHorse</span>
		</div>
	<% end %>
	
	<div name="mobile-trip-buttons" class="sm:hidden flex w-2/3 items-end justify-evenly font-semibold text-slate-600">
		<%= link_to share_trip_path(@trip) do %>
			Home
		<% end %>
		<%= link_to share_transportations_path do %>
			<%= image_tag "truck.svg", class: "w-6 h-auto"%>
		<% end %>
		<%= link_to share_lodgings_path do %>
			<%= image_tag "home.svg", class: "w-6 h-auto"%>
		<% end %>
		<%= link_to share_day_path(@trip.current_day) do %>
			<%= image_tag "calendar.svg", class: "w-6 h-auto"%>
		<% end %>
	</div>

	<div name="trip-buttons" class="hidden sm:flex w-1/2 justify-evenly font-semibold text-slate-600">
		<%= link_to share_trip_path(@trip) do %>
			Home
		<% end %>
		<%= link_to "Transportation", share_transportations_path %>
		<%= link_to "Lodging", share_lodgings_path %>
		<%= link_to "Days", share_day_path(@trip.current_day) %>
	</div>
</nav>
