<nav class="relative flex items-center justify-center p-4 bg-amber-100 min-h-14" data-controller="navbar">
	<%= link_to root_url, class: "absolute left-5" do %>
		<div class="flex items-center gap-2">
			<%= image_tag "logo.svg", class: "h-7 sm:h-10 w-auto"%>
			<span class="font-bold text-xl hidden lg:inline">RunwayHorse</span>
		</div>
	<% end %>
	
	<div name="mobile-trip-buttons" class="sm:hidden flex w-2/3 items-end justify-evenly font-semibold text-slate-600">
		<%= link_to share_trip_path(id: @trip_token) do %>
			Home
		<% end %>
		<%= link_to share_trip_transportations_path(trip_id: @trip_token) do %>
			<%= image_tag "truck.svg", class: "w-6 h-auto"%>
		<% end %>
		<%= link_to share_trip_lodgings_path(trip_id: @trip_token) do %>
			<%= image_tag "home.svg", class: "w-6 h-auto"%>
		<% end %>
		<%= link_to share_trip_day_path(trip_id: @trip_token, id: @trip.current_day) do %>
			<%= image_tag "calendar.svg", class: "w-6 h-auto"%>
		<% end %>
	</div>

	<div name="trip-buttons" class="hidden sm:flex w-1/2 justify-evenly font-semibold text-slate-600">
		<%= link_to share_trip_path(id: @trip_token) do %>
			Home
		<% end %>
		<%= link_to "Transportation", share_trip_transportations_path(trip_id: @trip_token) %>
		<%= link_to "Lodging", share_trip_lodgings_path(trip_id: @trip_token) %>
		<%= link_to "Days", share_trip_day_path(trip_id: @trip_token, id: @trip.current_day) %>
	</div>
	
	<div>
		Create a RunwayHorse account to plan your own trips
	</div>
</nav>
