<%= form_with model: [trip, happening], url: polymorphic_path([:trip, happening.happeningable_name.pluralize.to_sym], trip: trip, day: day) do |form| %>
	<div class="max-w-sm mx-auto">
		<% if happening.happeningable_name == "transportation" %>
		  <div class="my-5">
		    <%= form.label "From", class: "font-bold text-slate-700" %>
		    <%= form.text_field :origin, placeholder: "Enter a starting point", required: true, class: "block w-full border-none outline outline-1 outline-gray-300 rounded" %>
		  </div>
		
		  <div class="my-5">
		    <%= form.label "To", class: "font-bold text-slate-700" %>
		    <%= form.text_field :destination, placeholder: "Enter a destination", required: true, class: "block w-full border-none outline outline-1 outline-gray-300 rounded" %>
		  </div>
		
			<div class="my-5">
		    <%= form.label "Travel mode", class: "font-bold text-slate-700" %>
		    <%= form.select :mode, ["plane", "train", "car"], {}, class: "w-36 block rounded outline outline-1 outline-gray-300 border-none" %>
			</div>
		<% else %>
			<div class="my-5">
				<%= form.label "Activity name", class: "font-bold text-slate-700" %>
				<%= form.text_field :name, placeholder: "e.g. walking tour, tapas dinner", required: true, class: "block w-full border-none outline outline-1 outline-gray-300 rounded" %>
			<div>
		
			<div class="my-5">
				<%= form.label :location, class: "font-bold text-slate-700" %>
				<%= form.text_field :location, placeholder: "As specific as you want it to be", class: "w-full block border-none outline outline-1 outline-gray-300 rounded" %>
			</div>
		<% end %>

	  <div class="my-5">
	    <%= form.label :date, class: "font-bold text-slate-700" %>
	    <%= form.select :date, options_for_select(trip.days.map { |day| [day.date.strftime("%a, %b. %d"), day.date] }, day&.date), {}, class: "block rounded border-none outline outline-1 outline-gray-300" %>
	  </div>

	  <div class="my-5">
	    <%= form.label "Time", class: "font-bold text-slate-700" %>
	    <%= form.time_field :time, class: "block rounded border-none outline outline-1 outline-gray-300 w-36", required: true %>
	  </div>
	
	  <div class="my-5">
	    <%= form.label :notes, class: "font-bold text-slate-700" %>
	    <%= form.text_area :notes, rows: 5, placeholder: "e.g. duration, reservation details, things to bring, how early to leave", class: "block w-full border-none outline outline-1 outline-gray-300 rounded" %>
	  </div>

	  <div class="text-center">
	  	<%= form.submit "Save this #{happening.happeningable_name}", class: "text-center rounded-xl py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer" %>
		</div>
	<div>
<% end %>