<%= turbo_frame_tag "edit_#{dom_id @happening}", class: "contents" do %>
	<div class="flex absolute w-full z-50 py-1 shadow-xl rounded-lg bg-blue-400 px-1">
		<% if @happening.activity? %>
			<%= form_with model: @happening, url: activity_path(day: @day), class: "contents" do |form| %>
				<div class="w-1/6">
					<%= form.time_field :time, placeholder: "time", class: "border-none rounded text-sm italic" %>
				</div>
	
				<div class="w-full">
					<%= form.text_field :name, value: @happening.activity.name, placeholder: "name", class: "block border-none rounded font-medium text-lg p-1" %>
				
					<%= form.text_field :location, value: @happening.activity.location, placeholder: "location", class: "block border-none rounded italic text-sm mt-1 p-1" %>
					
					<div class="mt-4 w-full">
						<%= form.text_area :notes, placeholder: "Notes...", class: "border-none rounded w-full text-sm" %>
					</div>
				
					<%= form.submit "Done", class: "rounded-lg p-2 font-semibold bg-green-400 float-right" %>
				</div>
			<% end %>
		<% else %>
			<%= form_with model: @happening, url: transportation_path(day: @day), class: "contents" do |form| %>
				<div class="w-1/6">
					<%= form.time_field :time, placeholder: "time", class: "border-none rounded text-sm italic" %>
				</div>
	
				<div class="w-full">
					<%= form.select :mode, options_for_select(Transportation.modes.keys, @happening.transportation.mode), class: "block border-none rounded font-medium text-lg p-1" %>
				
					<div class="inline-flex">
						<%= form.text_field :origin, value: @happening.transportation.origin, placeholder: "location", class: "inline-block border-none rounded italic text-sm mt-1 p-1" %>
						to
						<%= form.text_field :destination, value: @happening.transportation.destination, placeholder: "location", class: "inline-block border-none rounded italic text-sm mt-1 p-1" %>
					</div>
				
					<div class="mt-4 w-full">
						<%= form.text_area :notes, placeholder: "Notes...", class: "border-none rounded w-full text-sm" %>
					</div>
				
					<%= form.submit "Done", class: "rounded-lg p-2 font-semibold bg-green-400 float-right" %>
				</div>
			<% end %>
	</div>
	<% end %>
<% end %>