<%= turbo_frame_tag "summary", class: "contents" do %>
	<div class="flex flex-col mx-auto items-center w-full">
		<h3 class="font-medium text-lg sm:text-xl text-center bg-yellow-200 rounded p-1">Trip Summary</h3>
		<div name="summary-box" class="flex flex-wrap justify-center sm:gap-6 py-8 sm:w-2/3 mx-auto bg-white my-auto">
			<div class="font-semibold text-center inline-block p-4 min-w-40">
				<p class="mb-1 border-2 border-dashed border-indigo-500 rounded sm:text-xl p-2 sm:p-4"><%= @transport_happenings.first.transportation.origin %></p>
			</div>
		
			<% @transport_happenings.each do |happening| %>
				<div class="text-center place-self-center">
					<%= icon_for happening.transportation.mode %>
					<span class="text-xs sm:text-sm text-gray-500"><%= human_date(happening.date, no_year: true)%></span>
				</div>
				<div class="font-semibold text-center inline-block p-4 min-w-40">
					<p class="mb-1 border-2 border-dashed border-indigo-500 rounded sm:text-xl p-2 sm:p-4"><%= happening.transportation.destination %></p>
				</div>
			
			<% end %>
		</div>
	</div>
<% end %>