<%= turbo_frame_tag "summary", class: "contents" do %>
	<div class="flex flex-col mx-auto items-center w-full mt-8">
		<h3 class="font-medium text-lg sm:text-xl text-center underline decoration-yellow-500 p-1">Trip Summary</h3>
		<% if @transport_happenings.any? %>
			<div name="summary-box" class="flex flex-wrap justify-center sm:w-5/6 sm:gap-6 py-4 sm:py-8 mx-auto bg-white my-auto">
				<div class="text-center inline-block p-4 min-w-28 sm:min-w-40">
					<p class="mb-1 bg-indigo-200 rounded sm:text-lg p-2"><%= @transport_happenings.first.transportation.origin %></p>
				</div>
		
				<% @transport_happenings.each do |happening| %>
					<div class="text-center place-self-center">
						<%= icon_for happening.transportation.mode %>
						<span class="text-xs sm:text-sm text-gray-500"><%= human_date(happening.date, no_year: true)%></span>
					</div>
					<div class="text-center inline-block p-4 min-w-28 sm:min-w-40">
						<p class="mb-1 bg-indigo-200 rounded sm:text-lg p-2"><%= happening.transportation.destination %></p>
					</div>
			
				<% end %>
			</div>
		<% else %>
			<p class="mx-auto max-w-sm mt-3 px-3 text-gray-500 font-medium">
				Your destinations and trip overview will show up here as you plan your trip. Start by adding your transportation above!
			</p>
		<% end %>
	</div>
<% end %>