<nav class="flex items-center justify-between p-4" data-controller="navbar">
	<%= link_to root_path do %>
		<div class="flex items-center gap-2">
			<%= image_tag "logo.svg", class: "h-10 w-auto"%>
			<span class="font-bold text-2xl">RunwayHorse</span>
		</div>
	<% end %>
	<% if Current.user.present? %>
		<div name="trip-buttons" class="w-1/2 flex justify-evenly font-semibold text-orange-600">
			<%= link_to trip_path(Current.user.active_trip) do %>
				Home
			<% end %>
			<%= link_to "Transportation", trip_transportations_path(Current.user.active_trip) %>
			<%= link_to "Lodging" %>
			<%= link_to "Day by Day", day_path(Current.user.active_trip.days.first) %>
		</div>
		
		<div>
			<div name="admin-land" class= "relative flex flex-col relative">
				<button class="self-end flex items-center font-bold rounded-full text-gray-500" data-action="click->navbar#toggleDropdown">
					<%= Current.user.initials %>
					<%= image_tag "vertical_ellipses.svg", class: "h-5 w-auto" %>
				</button>
				<div class="hidden absolute top-10 right-4 rounded-lg shadow divide-y py-2 bg-white w-24 text-center px-auto text-sm text-gray-500" data-navbar-target="dropdown">
					<%= link_to "All trips", trips_path %>
					<%= button_to "Sign out", signout_path, method: :delete %>
				</div>
			</div>
		</div>
	<% end %>
</nav>