<div class="flex flex-col justify-center gap-32 w-full">
	<div class="relative flex flex-col items-center justify-center h-[500px] sm:w-2/3 mx-auto">
		<div class="flex w-full justify-evenly mb-4 italic font-medium underline decoration-2 decoration-indigo-500">
			<p>"Exactly what I never knew I wanted"</p>
			<p class="hidden sm:block">"Really excited to have it on my trip"</p>
		</div>
		<h1 class="font-black text-4xl lg:text-7xl text-center bg-gradient-to-r from-amber-700 to-orange-400 text-transparent bg-clip-text min-h-fit py-1">Put together your travels effortlessly</h1>
		<h2 class="font-base text-xl lg:text-2xl text-center mt-8">RunwayHorse is the <strong>easy</strong> and <strong>beautiful</strong> way to <strong>organize your trip plans</strong> so that the Docs, Sheets, and Notes mess can finally be left behind</h2>
		<%= link_to "Use RunwayHorse for free", signup_url(subdomain: "app"), class: "p-4 text-xl lg:text-2xl rounded-full text-white font-bold mt-12 bg-green-600" %>
	</div>
	
	<div class="flex flex-col p-0 m-0">
		<section class="sm:w-2/3 sm:ml-20">
			<p class="text-3xl font-bold">
				No one telling you where to go, what to do, or where to stay.
			</p>
			<p class="mt-6 font-light text-xl">
				 Travel planning has an overwhelming amount of details. Gathered from a dozen different websites, these bits of information have no dedicated place to go.
			</p>
			<p class="mt-6 font-light text-xl">
				RunwayHorse is a home for the important things for your trip, things that were scattered in your inbox, in some note on your phone, or in a sheet always in need of formatting. Let us add the <strong class="font-bold">scaffolding to your planning</strong> so that you can <strong class="font-bold">focus on the details.</strong>
			</p>
			<p class="mt-6 font-light text-xl">
				See how <strong class="font-bold">simple</strong> and <strong class="font-bold">structured</strong> planning your trip can be:
			</p>
		</section>
		<%= video_tag "marketing/demo.mp4", poster: "marketing/home.png", plays_in_line: true, controls: "controls", class: "shadow-xl md:max-w-2xl lg:max-w-4xl xl:max-w-5xl h-auto sm:mx-auto mt-12" %>
	</div>
	
	<div class="flex flex-col">
		<section class="sm:w-2/3 sm:ml-20">
			<p class="text-4xl font-bold">
				The Transportation
			</p>
			<p class="mt-6 font-light text-xl">
				Put in all your flights, trains, and drives. See where you're going and how you're getting there.
			</p>
		</section>
		<%= image_tag "marketing/transportation.png", class: "shadow-xl max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-5xl h-auto sm:mx-auto mt-12" %>
			
		<section class="sm:w-2/3 sm:ml-20 mt-20">
			<p class="text-4xl font-bold">
				The Lodging
			</p>
			<p class="mt-6 font-light text-xl">
				Keep track of your hotels and Airbnbs. Add check-in info, links, and addresses. Remember the details about where you're staying without clicking through a thousand links.
			</p>
		</section>
		<%= image_tag "marketing/lodging.png", class: "shadow-xl max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-5xl h-auto sm:mx-auto mt-12" %>
		
		<section class="sm:w-2/3 sm:ml-20 mt-20">
			<p class="text-4xl font-bold">
				The Day-by-Day
			</p>
			<p class="mt-6 font-light text-xl">
				The daily plan. Add bookings, restaurants, activities, and notes. See your transportation, lodging, location, and tickets for each day.
			</p>
		</section>
		<%= image_tag "marketing/day_by_day.png", class: "shadow-xl max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-5xl h-auto sm:mx-auto mt-12" %>
		<p class="mx-auto max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-5xl mt-4 font-light text-lg">
			Have something you want to do sometime during the trip but you don't know when? Put it into Sometime and check it off when you get to it.
		</p>
		
		<section class="sm:w-2/3 sm:ml-20 mt-20">
			<p class="text-4xl font-bold">
				And More
			</p>
			<ul class="mt-6 list-image-[url(list_check.svg)] text-left mx-6 text-xl font-light space-y-4">
				<li>Share with anyone for viewing</li>
				<li>Add trip notes</li>
				<li>See the whole itinerary</li>
				<li>Open addresses in Google Maps</li>
				<li>Plan multiple trips at once</li>
			</ul>
		</section>
		
		
		<section class="mt-20 text-center">
			<%= link_to "Use RunwayHorse for free", signup_url(subdomain: "app"), class: "p-4 text-xl lg:text-2xl rounded-full text-white font-bold bg-green-600" %>
			<h2 class="text-slate-600 mt-4">RunwayHorse is completely free to use! Ditch your sheet or doc for your next trip</h2>
		</section>
	</div>
</div>


	