<div class="flex flex-col justify-center gap-32">
	<div class="flex flex-col items-center justify-center h-[500px]">
		<h1 class="font-black text-5xl bg-gradient-to-r from-amber-700 to-orange-400 text-transparent bg-clip-text h-14">Everything about your trip in one place</h1>
		<h2 class="font-medium text-2xl text-center mt-4">Forget about the Docs, Sheets, or Notes mess to put your trip together</h2>
		<button class="p-4 text-2xl rounded-full text-white font-bold mt-12 bg-green-600 ">Try RunwayHorse for free</button>
	</div>
	
	<div class="flex flex-col p-0 m-0">
		<section class="w-2/3 ml-20">
			<p class="text-3xl font-bold">
				No one telling you where to go, what to do, or where to stay.
			</p>
			<p class="mt-6 font-light text-xl">
				RunwayHorse doesn't intrude on your trip planning. <strong class="font-bold">Plan your trip like you always do</strong>. Then watch it come to life on RunwayHorse.
			</p>
			<p class="mt-6 font-light text-xl">
				It's a home for the important things for your trip, things that were scattered in your inbox, in some note on your phone, or in an unreadable sheet. All without the excess of other travel apps.
			</p>
			<p class="mt-6 font-light text-xl">
				The result is a <strong class="font-bold">simple and nice-looking</strong> way to plan your trip:
			</p>
		</section>
		<%= image_tag "marketing/home.png", class: "shadow-xl max-w-5xl h-auto mx-auto mt-12" %>
	</div>
	
	<div class="flex flex-col">
		<section class="w-2/3 ml-20">
			<p class="text-4xl font-bold">
				The Transportation
			</p>
			<p class="mt-6 font-light text-xl">
				All your flights, trains, and drives. See where you're going and how you're getting there.
			</p>
		</section>
		<%= image_tag "marketing/transportation.png", class: "shadow-xl max-w-5xl h-auto mx-auto mt-12" %>
			
		<section class="w-2/3 ml-20 mt-20">
			<p class="text-4xl font-bold">
				Part 2: Lodging
			</p>
			<p class="mt-6 font-light text-xl">
				All hotels and Airbnbs. Add check-in info, links, and addresses. Remember the details about where you're staying without clicking through a thousand links.
			</p>
		</section>
		<%= image_tag "marketing/lodging.png", class: "shadow-xl max-w-5xl h-auto mx-auto mt-12" %>
		
		<section class="w-2/3 ml-20 mt-20">
			<p class="text-4xl font-bold">
				Part 3: The Day-by-Day
			</p>
			<p class="mt-6 font-light text-xl">
				The plan for each day. Add bookings, restaurants, trip todos, and notes. See your transportation, lodging, location, and tickets for each day.
			</p>
		</section>
		<%= image_tag "marketing/day_by_day.png", class: "shadow-xl max-w-5xl h-auto mx-auto mt-12" %>
	</div>
	
	<div class="w-4/5 mx-auto flex items-center justify-center">
		<section class="text-lg font-medium basis-1/2">
			<p>No complex things you'll never use </p>
			<p>No sketchy "partners"</p>
			<p>No paying when you're not traveling</p>
			<p class="bg-yellow-200 w-fit font-semibold mt-4">Just a home for your scattered trip plans</p>
		</section>
		<div class="border-2 border-gray-200 bg-orange-50 rounded-xl text-center max-w-sm mx-auto mt-12 text-slate-600">
			<p class="font-extrabold text-5xl text-indigo-700 bg-orange-50 my-4">$19<span class="text-sm font-normal"> per trip</span></p>
		
			<p class="text-left mx-20 font-medium mb-4 mt-1">Included:</p>
			<ul class="list-disc text-left mx-24">
				<li>Lodging planner</li>
				<li>Transportation planner</li>
				<li>Day-by-day</li>
				<li>Trip todos</li>
				<li>Trip summary</li>
				<li class="font-semibold">Use your RunwayHorse Trip as long as you want</li>
			</ul>
		
			<div class="flex justify-evenly items-center p-4">
				<%= link_to "Learn more", pricing_path, class: "font-semibold text-slate-600"%>
				<button class="px-4 py-1 rounded-full bg-green-600 text-white font-semibold">Try for free</button>
			</div>
		</div>
	</div>
</div>


	