<div class="flex flex-col justify-center gap-32 w-full">
	<div class="relative flex flex-col items-center justify-center h-[500px] sm:w-3/4 mx-auto">
		<div class="flex w-full justify-evenly mb-4 italic font-medium underline decoration-2 decoration-indigo-500">
			<p>"Exactly what I never knew I wanted"</p>
			<p class="hidden sm:block">"Really excited to have it on my trip"</p>
		</div>
		<h1 class="font-black text-4xl lg:text-7xl text-center bg-gradient-to-r from-amber-700 to-orange-400 text-transparent bg-clip-text min-h-fit py-1">Put together your travels effortlessly</h1>
		<h2 class="font-base text-xl lg:text-2xl text-center mt-8">RunwayHorse is the <strong>easy</strong> and <strong>beautiful</strong> way to <strong>organize your trip plans</strong> so that the Docs, Sheets, and Notes mess can finally be left behind</h2>
		<%= link_to "Try RunwayHorse for free", signup_url(subdomain: "app"), class: "p-4 text-xl lg:text-2xl rounded-full text-white font-bold mt-12 bg-green-600" %>
	</div>
	
	<div class="flex flex-col p-0 m-0">
		<section class="sm:w-2/3 sm:ml-20">
			<p class="text-3xl font-bold">
				No one telling you where to go, what to do, or where to stay.
			</p>
			<p class="mt-6 font-light text-xl">
				RunwayHorse doesn't intrude on your trip planning. <strong class="font-bold">Plan your trip like you always do</strong>. Then put all the details on RunwayHorse and watch it come to life.
			</p>
			<p class="mt-6 font-light text-xl">
				It's a home for the important things for your trip, things that were scattered in your inbox, in some note on your phone, or in an unreadable sheet. All without the excess of other travel apps.
			</p>
			<p class="mt-6 font-light text-xl">
				The result is a <strong class="font-bold">simple and nice-looking</strong> way to plan your trip:
			</p>
		</section>
		<%= image_tag "marketing/home.png", class: "shadow-xl md:max-w-2xl lg:max-w-4xl xl:max-w-5xl h-auto sm:mx-auto mt-12" %>
	</div>
	
	<div class="flex flex-col">
		<section class="sm:w-2/3 sm:ml-20">
			<p class="text-4xl font-bold">
				The Transportation
			</p>
			<p class="mt-6 font-light text-xl">
				Put in all your flights, trains, and drives. See where you're going and how you're getting there.
			</p>
		</section>
		<%= image_tag "marketing/transportation.png", class: "shadow-xl max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-5xl h-auto sm:mx-auto mt-12" %>
			
		<section class="sm:w-2/3 sm:ml-20 mt-20">
			<p class="text-4xl font-bold">
				The Lodging
			</p>
			<p class="mt-6 font-light text-xl">
				Keep track of your hotels and Airbnbs. Add check-in info, links, and addresses. Remember the details about where you're staying without clicking through a thousand links.
			</p>
		</section>
		<%= image_tag "marketing/lodging.png", class: "shadow-xl max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-5xl h-auto sm:mx-auto mt-12" %>
		
		<section class="sm:w-2/3 sm:ml-20 mt-20">
			<p class="text-4xl font-bold">
				The Day-by-Day
			</p>
			<p class="mt-6 font-light text-xl">
				The daily plan. Add bookings, restaurants, activities, and notes. See your transportation, lodging, location, and tickets for each day.
			</p>
		</section>
		<%= image_tag "marketing/day_by_day.png", class: "shadow-xl max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-5xl h-auto sm:mx-auto mt-12" %>
		<p class="mx-auto max-w-sm md:max-w-2xl lg:max-w-4xl xl:max-w-5xl mt-4 font-light text-lg">
			Have something you want to do sometime during the trip but you don't know when? Put it into Sometime and check it off when you get to it.
		</p>
	</div>
	
	<div class="border-t-2 border-gray-300 flex flex-col sm:flex-row items-center justify-center">
		<section class="basis-1/2 flex flex-col gap-2 text-lg lg:text-xl mt-6 sm:mt-0">
			<p>No complicated features you'll never use</p>
			<p>No sketchy "partners"</p>
			<p>No paying when you're not traveling</p>
			<p class="bg-text-2xl font-semibold mt-4">Just a place for your scattered trip plans</p>
		</section>
		
		<section>
			<div class="max-w-xs lg:max-w-sm border-2 border-gray-200 bg-orange-50 rounded-xl mx-auto mt-12 text-center text-slate-600 text-sm lg:text-base">
				<p class="font-extrabold text-5xl text-indigo-700 bg-orange-50 my-4">$19<span class="text-sm font-normal"> per trip</span></p>
		
				<p class="text-left mx-20 font-medium mb-4 mt-1">Included:</p>
				<ul class="list-disc text-left mx-24">
					<li>Lodging keeper</li>
					<li>Transportation keeper</li>
					<li>Day-by-day</li>
					<li>Trip todos</li>
					<li>Trip summary</li>
					<li class="font-semibold">View your RunwayHorse itinerary as long as you want</li>
				</ul>
		
				<div class="flex justify-evenly items-center p-4 text-base">
					<%= link_to "Learn more", pricing_path, class: "font-semibold text-slate-600"%>
					<%= link_to "Try for free", signup_url(subdomain: "app"), class: "px-4 py-1 rounded-full bg-green-600 text-white font-semibold" %>
				</div>
			</div>
		</section>
	</div>
</div>


	