<%= turbo_frame_tag "edit_#{dom_id happening}", class: "block" do %>
	<div class="flex py-1" id="<%= dom_id happening %>">
		<p class="text-xs sm:text-sm italic w-1/4 sm:w-1/6"><%= human_time(happening.time) %></p>
	
		<div class="w-full">
			<p class="font-medium sm:text-lg"><%= happening.activity.name %></p>
		
			<p class="italic text-xs sm:text-sm"><%= happening.activity.location %></p>
		
			<div class="mt-4 text-xs sm:text-sm">
		    <%= 
				auto_link(happening.notes, html: { class: "text-blue-500 underline", target: '_blank' }) do |text|
					truncate(text, length: 35, omission: '...')
				end 
				%>
			</div>
		</div>
		
		<div class="self-end w-1/12">
			<%= render "shared/actions_menu", type: :activity, item: happening, from: happening.day.id %>
		</div>
	</div>
<% end %>
