<%= form_with model: happening, url: activity_path(day: day), data: { controller: "edit-day", turbo: "false" }, class: "contents" do |form| %>
	<div class="flex flex-col sm:flex-row py-1">
		<div class="mr-2">
			<%= form.select :date, options_for_select(happening.trip.days.map { |day| [day.date.strftime("%a, %b. %d"), day.date] }, happening.date), {}, class: "ml-1 text-sm block rounded border-none outline outline-1 outline-gray-300" %>
			<p class="text-xs sm:text-sm italic w-1/4 sm:w-1/6 mt-2 sm:mt-0">
				<%= form.time_field :time, value: happening.read_attribute(:time), class: "w-28 border-none rounded text-sm" %>
			</p>
		</div>
		<div class="w-full">
			<p class="font-medium sm:text-lg">
				<%= form.text_field :name, value: happening.activity.name, autofocus: true, required: true, data: { action: "focus->edit-day#setCursor" }, placeholder: "name", class: "border-none focus:ring-0 m-0 p-0" %>
			</p>
			
			<p class="italic text-xs sm:text-sm">
				<%= form.text_field :location, value: happening.activity.location, placeholder: "Enter a location", class: "italic border-none focus:ring-0 m-0 p-0" %>
			</p>
			
			<div class="mt-4 text-xs sm:text-sm">
				<%= form.text_area :notes, placeholder: "e.g. reservation details, things to bring, how early to leave", class: "w-full sm:w-4/5 border-0 focus:ring-0 outline outline-1 outline-gray-300 rounded text-xs sm:text-sm" %>
			</div>

			<%= form.submit "Save changes", class: "p-2 text-white text-sm bg-green-600 rounded-full float-right" %>
		</div>
	
	</div>
<% end %>



