<%= form_with model: happening, url: transportation_path(day: day), data: { controller: "edit-day", turbo: "false" }, class: "contents" do |form| %>
	<div class="flex flex-col sm:flex-row py-1">
		<div class="mr-2">
			<%= form.select :date, options_for_select(happening.trip.days.map { |day| [day.date.strftime("%a, %b. %d"), day.date] }, happening.date), {}, class: "ml-1 text-sm block rounded border-none outline outline-1 outline-gray-300" %>
			
			<p class="text-xs sm:text-sm italic w-1/4 sm:w-1/6 mt-2 sm:mt-0">
				<%= form.time_field :time, value: happening.read_attribute(:time), class: "w-28 border-none rounded text-sm" %>
			</p>
		    
		</div>

		<div class="w-full">
			<%= form.select :mode, options_for_select(Transportation.modes.keys, happening.transportation.mode), {}, class: "border-none focus:ring-0 outline outline-1 outline-gray-300 rounded" %>
	
			<div class="inline-flex items-center align-middle">
				<p class="sm:ml-3 sm:text-lg font-medium align-middle">
					<%= form.text_field :origin, value: happening.transportation.origin, placeholder: "location", autofocus: true, required: true, data: { action: "focus->edit-day#setCursor" }, class: "w-20 border-none focus:ring-0 p-0" %>
					to
					<%= form.text_field :destination, value: happening.transportation.destination, placeholder: "location", required: true, class: "max-w-32 mt-4 sm:mt-0 ml-4 sm:ml-16 border-none focus:ring-0 p-0" %>
				</p>
			</div>
	
			<div class="mt-4 text-xs sm:text-sm">
				<%= form.text_area :notes, placeholder: "e.g. reservation details, things to bring, how early to leave", class: "w-4/5 border-0 focus:ring-0 outline outline-1 outline-gray-300 rounded text-xs sm:text-sm" %>
			</div>
	
			<%= form.submit "Save changes", class: "p-2 text-white text-sm bg-green-600 rounded-full mt-2 sm:mt-0 sm:float-right" %>
		</div>
	</div>
<% end %>


	