<div class="outline outline-1 rounded px-4 mt-4" id="<%= dom_id happening %>">
	<div class="inline-flex items-center align-middle">
		<%= icon_for(happening.transportation.mode, size: "12") %>
		<p class="ml-3 text-xl font-bold align-middle"><%= happening.transportation.origin%> to <%= happening.transportation.destination%></p>
	</div>
 
 	<div class="flex flex-col">
	  <div class="my-2">
	    <%= human_time(happening.time) %>
		</div>

	  <div class="my-2">
	    <%= human_date(happening.date) %>
		</div>

  
	
	  <div class="my-2">
	    <p class="italic text-sm">Notes</p>
	    <%= happening.notes %>
		</div>
	</div>
</div>
