<div id="<%= dom_id happening %>">
	
  <p class="my-5">
    <strong class="block font-medium mb-1">Mode:</strong>
    <%= happening.transportation.mode %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= happening.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= happening.time %>
  </p>
	
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= happening.notes %>
  </p>
	
</div>
