<div class="w-full justify-center overflow-scroll relative" id="<%= dom_id day %>">
	<div id="day-header" class="mb-5">
		<div class="w-full inline-flex justify-center items-center gap-x-1 border-solid border-b-2 border-gray-300">
			<% if day.previous %>
				<%= link_to day_path(day.previous) do %>
					<%= image_tag "left_arrow.svg", class: "h-5 w-auto" %>
				<% end %>
			<% end %>
			
			<h3 class="font-medium text-lg sm:text-xl"><%= human_date(day.date, no_year: true)%></h3>
			<% if day.next %>
				<%= link_to day_path(day.next) do %>
					<%= image_tag "right_arrow.svg", class: "h-5 w-auto" %>
				<% end %>
			<% end %>
		</div>
		<div class="flex justify-evenly mt-3 gap-x-4">
			<%= render "day_header", value: day.homebase, display_name: "homebase", icon: "home" %>
			<%= render "day_header", value: day.location, display_name: "location", icon: "map_pin" %>
		</div>
	</div>
  
	<% if day.happenings.empty? %>
		NOTHING
	<% else %>
		<% sometime_happenings = day.happenings.sometime %>
		
		<%= render "happening_group", happenings: day.happenings.timed %>
		
		<% if sometime_happenings.any? %>
			<p class="font-medium sm:text-lg underline decoration-wavy decoration-teal-700 mt-5 mb-3">Sometime Today</p>
			<%= render "happening_group", happenings: day.happenings.sometime %>
		<% end %>
	<% end %>

	<div class="lg:absolute lg:bottom-10 border-t-2 border-dashed border-indigo-600 w-full text-sm">
	  <strong class="block font-medium">Notes</strong>
		<p class="text-gray-500 text-sm mb-1">
			Add reminders for the day, things to bring, comments about the weather, or anything else.
		</p>
	
	<%= turbo_frame_tag "notes", class: "contents" do %>
		<%= link_to edit_day_path, class: "block rounded min-w-full hover:bg-slate-100", "admin-link": "true" do %>
    	<%= day.notes %>
			<br><br/> 
		<% end %>
	<% end %>
	</div>
	

</div>
	
