<div class="w-full flex justify-center" id="<%= dom_id day %>">
	<div id="day-header">
		<h3 class="font-medium text-xl text-center"><%= human_date(day.date, no_year: true)%></h3>
		<div class="flex justify-between mt-2 gap-x-4">
			<%= show_button_or_value(value: day.homebase, display_name: "homebase", icon: "home") %>
			<%= show_button_or_value(value: day.location, display_name: "location", icon: "map_pin") %>
		</div>
	</div>
  

	<div class="absolute bottom-0 border-t-2 border-dashed border-indigo-600 w-full">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= day.notes %>
	</div>


 

  <% if action_name != "show" %>
    <%= link_to "Show this day", day, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this day", edit_day_path(day), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
