<div class="w-full justify-center overflow-scroll relative" id="<%= dom_id day %>">
	<div id="day-header" class="mb-5">
		<div class="w-full inline-flex justify-center items-center gap-x-1 border-solid border-b-2 border-gray-300">
			<% if day.previous %>
				<%= link_to day_path(day.previous) do %>
					<%= image_tag "left_arrow.svg", class: "h-5 w-auto" %>
				<% end %>
			<% end %>
			
			<h3 class="font-medium text-lg sm:text-xl"><%= human_date(day.date, no_year: true)%></h3>
			<% if day.next %>
				<%= link_to day_path(day.next) do %>
					<%= image_tag "right_arrow.svg", class: "h-5 w-auto" %>
				<% end %>
			<% end %>
		</div>
		<div class="flex justify-evenly mt-3 gap-x-4">
			<%= render "lodging_header", lodging: day&.lodging, day: day %>
			<%= render "location_header", location: day.location %>
		</div>
	</div>
  
	<% if day.happenings.empty? %>
		NOTHING
	<% else %>
		
		<%= render "happening_group", happenings: day.happenings %>
		
		<p class="font-medium sm:text-lg underline decoration-wavy decoration-teal-700 mt-5 mb-3">Sometime</p>
		<% if day.trip.sometimes.any? %>
		
			sometimes here
			
		<% else %>
			<%= new_trip_sometime_path(day.trip) %>
		<% end %>
	<% end %>



</div>
	
