<div class="relative h-full" id="<%= dom_id day %>">
	<div id="header" class="flex w-full space-between">
		<p>d
			<%= image_tag "home.svg", class: "h-6 w-auto" %>
			<span><%= day.homebase %></span>
		</p>
		<p>
			<%= image_tag "map_pin.svg", class: "h-6 w-auto" %>
			<span><%= day.location %></span>
		</p>
	</div>
  

	<div class="absolute bottom-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= day.notes %>
	</div>


 

  <% if action_name != "show" %>
    <%= link_to "Show this day", day, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this day", edit_day_path(day), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
