<div id="add-buttons" class="flex w-full justify-end text-xs sm:text-sm flex gap-x-4 pr-2 mb-2 sm:mb-0" data-admin>
	<%= link_to new_trip_transportation_path(@day.trip, day: @day), class: "rounded p-2 bg-indigo-500 text-white flex items-center" do %>
		<%= image_tag "white_truck.svg", class: "mr-1 h-4 sm:h-6 w-auto" %>
		<p>Add transportation</p>
	<% end %>
	<%= link_to new_trip_activity_path(@day.trip, day: @day), class: "rounded p-2 bg-emerald-500 text-white flex items-center" do %>
		<%= image_tag "sparkles.svg", class: "mr-1 h-4 sm:h-6 w-auto" %>
		<p>Add activity</p>
	<% end %>
</div>

<div class="relative mx-auto px-3 md:w-2/3 w-full flex">
  <%= render @day %>
</div>

