<%= form_with model: [ trip, lodging ], url: url do |form| %>
	<div class="max-w-sm px-4 mx-auto">
		<div class="my-6 flex items-center justify-center">
			<%= form.select :start, options_for_select(trip.days.map { |day| [day.date.strftime("%a, %b. %d"), day.date] }), {}, class: "text-xs sm:text-base min-w-32 block shadow rounded-md border border-gray-200 outline-none" %>
			<span class="mx-2">—</span>
			<%= form.select :end, options_for_select(trip.days.map { |day| [day.date.strftime("%a, %b. %d"), day.date] }), {}, class: "text-xs sm:text-base min-w-32 block shadow rounded-md border border-gray-200 outline-none" %>
		</div>
	
		<div class="my-5">
			<%= form.label :name, class: "font-bold text-slate-700" %>
			<%= form.text_field :name, placeholder: "e.g. Oslo Airbnb, Delhi hotel", required: true, class: "block w-full border-none outline outline-1 outline-gray-300 rounded" %>
		</div>
	
		<div class="my-5">
			<%= form.label :address, class: "font-bold text-slate-700" %>
			<%= form.text_field :address, placeholder: "Enter an address", required: true, class: "block w-full border-none outline outline-1 outline-gray-300 rounded" %>
		</div>
	
		<div class="my-5">
			<%= form.label "Link", class: "font-bold text-slate-700" %>
			<%= form.text_field :link, placeholder: "e.g. to airbnb, expedia, or hotel website", class: "block w-full border-none outline outline-1 outline-gray-300 rounded" %>
		</div>
	
		<div class="my-5">
			<%= form.label :notes, class: "font-bold text-slate-700" %>
			<%= form.text_area :notes, rows: 5, placeholder: "e.g. check-in instructions, breakfast details, pool or not", class: "block w-full border-none outline outline-1 outline-gray-300 rounded" %>
		</div>
	
	  <div class="relative text-center">
	    <%= form.submit class: "rounded-lg py-3 px-5 bg-green-600 text-white font-medium cursor-pointer" %>
			<% if action_name == "edit" %>
				<%= button_to lodging_path(lodging, day: day), method: :delete, class: "absolute float-right bottom-2 right-0" do %>
					<%= image_tag "trash.svg", class: "h-6 w-auto" %>
				<% end %>
			<% end %>
	  </div>
	</div>
<% end %>