<div class="flex bg-slate-100 rounded px-4 py-1 mt-4" id="<%= dom_id lodging %>">
	<div class="mr-8">
		<div class="inline-flex align-middle">
			<p class="text-lg font-medium align-middle"><%= lodging.name %></p>
		</div>

	  <div class="my-2 text-gray-500">
			<% if lodging.days.many? %>
				<%= lodging.days.first.date.strftime("%a, %b. %d") %>
				—
				<%= lodging.days.last.date.strftime("%a, %b. %d") %>
			<% elsif lodging.days.any? %>
				<p class="font-medium">
					<%= lodging.days.first.date.strftime("%a, %b. %d") %>
				</p>
			<% end %>
		</div>
		
	  <div class="my-2 underline decoration-dashed">
			<%= lodging.address %>
		</div>

	  <div class="my-2 text-blue-500">
			<%= link_to truncate(lodging.link, length: 35, omission: '...'), lodging.link %>
		</div>
  </div>

  <div class="mt-2 text-xs sm:text-sm grow">
    <%= 
		auto_link(lodging.notes, html: { class: "text-blue-500 underline", target: '_blank' }) do |text|
			truncate(text, length: 35, omission: '...')
		end 
		%>
	</div>
	
	<%= render "shared/actions_menu", type: :lodging, item: lodging %>
</div>

