<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>RunwayHorse - Put together your travels effortlessly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="handheldfriendly" content="true">
		<meta name="description" content="RunwayHorse is the easy and beautiful way to organize your trip plans">
		
		<link rel="canonical" href="https://www.app.runwayhorse.com/">
		<link rel="apple-touch-icon" href="<%= asset_path('logo.png') %>">
		<link rel="mask-icon" href="<%= asset_path('logo.png') %>">
		
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

     <%= favicon_link_tag "favicon.png" %>
		
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
		
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= content_for :head %>
  </head>

  <body class="h-full text-sm sm:text-base bg-amber-50 text-slate-800">
		<%= render "shared/navbar" %>
		<div id="flash" class="relative">
			<% if flash[:alert].present? %>
				<p class="absolute right-0 left-0 top-5 w-fit mx-auto py-2 px-3 bg-red-100 text-center text-red-500 font-medium rounded-full z-50" id="alert" data-controller="flash"><%= flash[:alert] %></p>
			<% end %>
			<% if flash[:notice].present? %>
				<p class="absolute right-0 left-0 top-5 w-fit mx-auto py-2 px-3 bg-green-100 text-center text-green-500 font-medium rounded-full z-50" id="notice" data-controller="flash"><%= flash[:notice] %></p>
			<% end %>
		</div>
		
    <main class="container mx-auto h-[90vh] py-4 bg-white rounded shadow-lg overflow-auto">
      <%= yield %>
			<p class="text-xs text-slate-500 text-right mt-4 mr-2 py-1 mb-[-16px]"><%= mail_to "hello@runwayhorse.com", "Email us", class: "text-indigo-500 font-semibold" %> for support</p>
    </main>

  </body>
</html>
